doctype html
html
  head
    title Basma Bannour
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Basma annour rideaux, couture')
    link(rel='stylesheet', href='stylesheets/style.css')
    script(type='application/x-javascript').
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    link(rel='icon', href='images/sewing-machine.png', type ='image/png')
    link(href='stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media='all')
    link(rel='stylesheet', href='stylesheets/slider.css', type='text/css', media='screen', property='')
    link(href='stylesheets/style7.css', rel='stylesheet', type='text/css', media='all')
    // Owl-carousel-CSS
    link(href='stylesheets/owl.carousel.css', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/team.css', type='text/css', media='all')
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
    link(rel='stylesheet', href='stylesheets/popupS.min.css')
    script(src="javascripts/popupS.min.js")
    // font-awesome-icons
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    link(href='stylesheets/font-awesome.css', rel='stylesheet')
    // //font-awesome-icons
    link(href='//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800', rel='stylesheet')
  body
    #home.banner_top
      .wrapper
        //.agile_banner_text_info
        //  h1
        //    a(href='index.html') Basma Curtains
        .gallery
          .gallery__img-block
            img(src='images/banner1.jpg', thumb-url='images/banner11.jpg', alt='')
          .gallery__img-block.current
            img(src='images/banner2.jpg', thumb-url='images/banner22.jpg', alt='')
          .gallery__img-block
            img(src='images/banner3.jpg', thumb-url='images/banner33.jpg', alt='')
          .gallery__img-block
            img(src='images/banner4.jpg', thumb-url='images/banner44.jpg', alt='')
          .gallery__img-block
            img(src='images/banner5.jpg', thumb-url='images/banner55.jpg', alt='')
          .gallery__img-block
            img(src='images/banner6.jpg', thumb-url='images/banner66.jpg', alt='')
          .gallery__img-block
            img(src='images/banner1.jpg', thumb-url='images/banner11.jpg', alt='')
          .gallery__img-block.current
            img(src='images/banner2.jpg', thumb-url='images/banner22.jpg', alt='')
          .gallery__img-block
            img(src='images/banner3.jpg', thumb-url='images/banner33.jpg', alt='')
          .gallery__img-block
            img(src='images/banner4.jpg', thumb-url='images/banner44.jpg', alt='')
          .gallery__img-block
            img(src='images/banner5.jpg', thumb-url='images/banner55.jpg', alt='')
          .gallery__img-block
            img(src='images/banner6.jpg', thumb-url='images/banner66.jpg', alt='')
          .gallery__controls
      .w3_agile_header
        .overlay.overlay-contentpush
          button.overlay-close(type='button')
            i.fa.fa-times(aria-hidden='true')
          nav
            ul
              li
                a.active.scroll(href='#home') Accueil
              li
                a.scroll(href='#welcome') À propos
              li
                a.scroll(href='#services') Services
              li
                a.scroll(href='#portfolio') Gallerie
              li
                a.scroll(href='#contact') Contact
        .mobile-nav-button
          button#trigger-overlay(type='button')
            i.fa.fa-bars(aria-hidden='true')
        .clearfix
    #welcome.about
      .container
        .wthree_head_section
          h2 Déco
          h3.agile_tittle
            i.fa-2x.fas.fa-home(aria-hidden='true')
            span
            | Les rideaux twistent la déco
        .agile_wthree_inner_grids
          .col-md-6.about_agileinfo
            h4 Habillez vos fenêtres
            p
              | Le grand air, le grand jour, quoi de plus délicieux! Sauf qu’il faut parfois savoir s’en protéger.
              |  Contre le soleil, les courants d’air et les regards indiscrets, stores et rideaux font plus que l’affaire car ils nous embellissent aussi la vue! Plusieurs rideaux superposés multiplient les options esthétiques et permettent un dosage précis de la lumière ou de l’intimité.

            .agileits-button.two
              a.btn.btn-primary.btn-lg.scroll(data-toggle='modal', data-target='#myModal4', href='#', role='button') Plus »
          .col-md-6.about_agileinfo_grid_imgs
            img(src='images/banner1.jpg', alt='')
            img(src='images/banner88.jpg', alt='')
          .clearfix
    // Modal4
    #myModal4.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            .modal-info
              h4 Stores
              img.img-responsive(src='images/banner77.jpg', alt=' ')
              h5 Pourquoi choisir des rideaux ?
              p.para-agileits-w3layouts
                | Les rideaux et voilages habillent tout type de fenêtre en réhaussant la décoration de chaque pièce. Accessibles et faciles à vivre, ils sont parfaits pour briser la vue, calfeutrer la maison, tamiser la lumière ou bien même habiller une penderie.
                | Notre truc en plus ? heytens personnalise vos envies avec une collection exclusive de tissus.
    // //Modal4
    // //about
    //#team.team.featured_services
    //  .container
    //    .wthree_head_section
    //      h3.agile_tittle
    //        i.fa.fa-bullhorn(aria-hidden='true')
    //        span Our
    //        | Photographers
    //    .agile_wthree_inner_grids
    //      .col-md-4.w3_agile_team_grid_info
    //        img.img-responsive(src='images/t1.jpg', alt=' ')
    //        h3 Jane Mycle
    //        p Photographer
    //        .agileits_w3layouts_nav_right.team_agile._icons
    //          ul
    //            li
    //              a.w3_agile_facebook(href='#')
    //                i.fa.fa-facebook(aria-hidden='true')
    //            li
    //              a.agile_twitter(href='#')
    //                i.fa.fa-twitter(aria-hidden='true')
    //            li
    //              a.w3_agile_dribble(href='#')
    //                i.fa.fa-dribbble(aria-hidden='true')
    //      .col-md-4.w3_agile_team_grid_info
    //        img.img-responsive(src='images/t2.jpg', alt=' ')
    //        h3 Amanda Seylon
    //        p Photographer
    //        .agileits_w3layouts_nav_right.team_agile._icons
    //          ul
    //            li
    //              a.w3_agile_facebook(href='#')
    //                i.fa.fa-facebook(aria-hidden='true')
    //            li
    //              a.agile_twitter(href='#')
    //                i.fa.fa-twitter(aria-hidden='true')
    //            li
    //              a.w3_agile_dribble(href='#')
    //                i.fa.fa-dribbble(aria-hidden='true')
    //      .col-md-4.w3_agile_team_grid_info
    //        img.img-responsive(src='images/t3.jpg', alt=' ')
    //        h3 Laura Mark
    //        p Photographer
    //        .agileits_w3layouts_nav_right.team_agile._icons
    //          ul
    //            li
    //              a.w3_agile_facebook(href='#')
    //                i.fa.fa-facebook(aria-hidden='true')
    //            li
    //              a.agile_twitter(href='#')
    //                i.fa.fa-twitter(aria-hidden='true')
    //            li
    //              a.w3_agile_dribble(href='#')
    //                i.fa.fa-dribbble(aria-hidden='true')
    //      .clearfix
    // services
    #services.services
      .container
        .wthree_head_section
          h3.agile_tittle
            i.fa.fa-cogs(aria-hidden='true')
            span Nos
            | Services
        .agile_wthree_inner_grids
          .col-md-4.w3-agileits-services-left
            .services-info
          .col-md-8.w3-agileits-services-right
            .services-right-grids
              .col-sm-6.services-right-grid
                .services-icon.hvr-radial-in
                  i.fa-2x.fas.fa-heart(aria-hidden='true')
                .services-icon-info
                  h5 Rideaux
                  p
                    | Habillez et déshabillez vos fenêtres avec légèreté… Faciles à vivre, ils participent à l’atmosphère de votre cadre de vie.
              .col-sm-6.services-right-grid
                .services-icon.hvr-radial-in
                  i.fa-2x.fas.fa-window-maximize(aria-hidden='true')
                .services-icon-info
                  h5 Stores
                  p
                    | Ouvert, fermé ou incliné... modulez la lumière selon vos envies.
              .clearfix
            .services-right-grids
              .col-sm-6.services-right-grid
                .services-icon.hvr-radial-in
                  i.fa-2x.fas.fa-palette(aria-hidden='true')
                .services-icon-info
                  h5 Draps
                  p
                    | Quelle ambiance souhaitez-vous pour votre salon ? On vous aide à imaginer l'aménagement et la déco de votre pièce à vivre !
              .col-sm-6.services-right-grid
                .services-icon.hvr-radial-in
                  i.fa-2x.fas.fa-magic(aria-hidden='true')
                .services-icon-info
                  h5 Voilages
                  p
                    | Adoucissez l’atmosphère, réhaussez la déco… Tout en nuances, ils dévoilent leur charme discret.
              .clearfix
            .services-right-grids
              .col-sm-6.services-right-grid
                .services-icon.hvr-radial-in
                  i.fa-2x.fas.fa-cut(aria-hidden='true')
                .services-icon-info
                  h5 Coussins
                  p
                    | Les coussins ont parfois le don de transfigurer un salon.
              .col-sm-6.services-right-grid
                .services-icon.hvr-radial-in
                  i.fa-2x.fas.fa-couch(aria-hidden='true')
                .services-icon-info
                  h5 Salon
                  p
                    | Quelle ambiance souhaitez-vous pour votre salon ? On vous aide à imaginer l'aménagement et la déco de votre pièce à vivre !
              .clearfix
          .clearfix
    // //services
    // //services
    #portfolio.portfolio-agileinfo
      .container
        .wthree_head_section
          h3.agile_tittle
            i.fa.fa-camera-retro(aria-hidden='true')
            span Notre
            | Gallerie
      .agile_wthree_inner_grids
        .agile_port_w3ls_info
          .portfolio-grids_main
            .col-md-6.portfolio-grids(data-aos='zoom-in')
              a.b-link-stripe.b-animate-go.lightninBox(href='images/g1.jpg', data-lb-group='1')
                img.img-responsive(src='images/g1.jpg', alt='w3ls')
                .b-wrapper.two
                  i.fa.fa-magic(aria-hidden='true')
            .col-md-6.portfolio-grid_left
              .col-md-6.portfolio-grids(data-aos='zoom-in')
                a.b-link-stripe.b-animate-go.lightninBox(href='images/g5.jpg', data-lb-group='1')
                  img.img-responsive(src='images/g5.jpg', alt='w3ls')
                  .b-wrapper
                    i.fa.fa-magic(aria-hidden='true')
              .col-md-6.portfolio-grids(data-aos='zoom-in')
                a.b-link-stripe.b-animate-go.lightninBox(href='images/g4.jpg', data-lb-group='1')
                  img.img-responsive(src='images/g4.jpg', alt='w3ls')
                  .b-wrapper
                    i.fa.fa-magic(aria-hidden='true')
            .clearfix
          .portfolio-grids_main
            .col-md-6.portfolio-grid_left
              .col-md-6.portfolio-grids(data-aos='zoom-in')
                a.b-link-stripe.b-animate-go.lightninBox(href='images/g6.jpg', data-lb-group='1')
                  img.img-responsive(src='images/g6.jpg', alt='w3ls')
                  .b-wrapper
                    i.fa.fa-magic(aria-hidden='true')
              .col-md-6.portfolio-grids(data-aos='zoom-in')
                a.b-link-stripe.b-animate-go.lightninBox(href='images/g3.jpg', data-lb-group='1')
                  img.img-responsive(src='images/g3.jpg', alt='w3ls')
                  .b-wrapper
                    i.fa.fa-magic(aria-hidden='true')
            .col-md-6.portfolio-grids(data-aos='zoom-in')
              a.b-link-stripe.b-animate-go.lightninBox(href='images/g2.jpg', data-lb-group='1')
                img.img-responsive(src='images/g2.jpg', alt='w3ls')
                .b-wrapper.two
                  i.fa.fa-magic(aria-hidden='true')
            .clearfix
    // // Gallery
    // agile_testimonials
    //#testimonials.agile_testimonials
    //  .container
    //    .wthree_head_section.test
    //      h3.agile_tittle
    //        i.fa.fa-bullhorn(aria-hidden='true')
    //        span Our
    //        |  Testimonials
    //    .agile_wthree_inner_grids
    //      .test-gri1
    //        #owl-demo2.owl-carousel
    //          .agile
    //            .test-grid
    //              .col-md-9.test-grid1
    //                i.fa.fa-quote-left(aria-hidden='true')
    //                p.para-w3-agile
    //                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt
    //                  | ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    //                  | minim veniam, quis. Lorem ipsum dolor .
    //                h4 Steve Warner
    //              .col-md-3.test-grid2
    //                img.img-r(src='images/t1.jpg', alt='')
    //            .clearfix
    //          .agile
    //            .test-grid
    //              .col-md-9.test-grid1
    //                i.fa.fa-quote-left(aria-hidden='true')
    //                p.para-w3-agile
    //                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt
    //                  | ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    //                  | minim veniam, quis. Lorem ipsum dolor.
    //                h4 Andery
    //              .col-md-3.test-grid2
    //                img.img-r(src='images/t2.jpg', alt='')
    //            .clearfix
    //          .agile
    //            .test-grid
    //              .col-md-9.test-grid1
    //                i.fa.fa-quote-left(aria-hidden='true')
    //                p.para-w3-agile
    //                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt
    //                  | ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
    //                  | minim veniam, quis. Lorem ipsum dolor .
    //                h4 Williams
    //              .col-md-3.test-grid2
    //                img.img-r(src='images/t3.jpg', alt='')
    //            .clearfix
    // //agile_testimonials
    // contact
    #contact.contact
      .col-md-6.contact_img_agile
      .col-md-6.contact-form.agile_inner_grids
        .wthree_head_section.two
          h3.agile_tittle.two
            i.fa.fa-paper-plane-o(aria-hidden='true')
            span Nous
            | Contacter
        form(action='/send.php', method='post',role='form')
          .fields-grid
            .styled-input.agile-styled-input-top
              input(type='text', name='name', required='')
              label Nom Complet
              span
            .styled-input.agile-styled-input-top
              input(type='text', name='phone', required='')
              label Téléphone
              span
            .styled-input
              input(type='email', name='email', required='')
              label Email
              span
            .clearfix
          .styled-input.textarea-grid
            textarea(name='message', required='')
            label Message
            span
          input(type='submit', value='Envoyer')
      .clearfix
    // // contact
    .w3l_footer
      .container
        .col-md-4
          h2
            a(href='index.html')
              | Basma Bannour
        .col-md-8.botttom-nav-agileits
          ul.nav-w3ls
            li
              a.scroll(href='#home') Accueil
            li
              a.scroll(href='#welcome') À propos
            li
              a.scroll(href='#portfolio') Gallerie
            li
              a.scroll(href='#contact') Contact
          .w3l-social.team_agile._icons
            ul
              li
                a(href='https://www.facebook.com/bassmacurtains/',target='_blank')
                  i.fa.fa-facebook
              li
                a(href='https://goo.gl/maps/SUCG3GESbZP2',target='_blank')
                  i.fa.fa-map
              li
                a(href='#')
                  i.fa.fa-phone
              br
              |
              br
              |
              h5 +216 50609715
          .clearfix
        .clearfix
        p.agileits_w3ls_copyright
          | © 2018 Nesrine Sghaier. Tous les droits sont réservés.
        .arrow-container.animated.fadeInDown
          a.arrow-2.scroll(href='#home')
            i.fa.fa-angle-up
          .arrow-1.animated.hinge.infinite.zoomIn
    // //footer
    // js
    script(type='text/javascript', src='javascripts/jquery-2.1.4.min.js')
    // //js
    // Slider script
    script(src='javascripts/slider.js')
    // Kickoff the slider
    script.
        $(document).ready(function () {
            var $gallery = $('.gallery');
            $gallery.vitGallery({
                autoplay: true
            })
        })
    // /nav
    script(src='javascripts/modernizr-2.6.2.min.js')
    script(src='javascripts/classie.js')
    script(src='javascripts/demo1.js')
    // //nav
    // js for portfolio lightbox
    script(src='javascripts/jquery.chocolat.js ')
    link(rel='stylesheet ', href='stylesheets/chocolat.css ', type='text/css', media='all')
    // light-box-files
    script(type='text/javascript ').
        $(function () {
            $('.portfolio-grids a').Chocolat();
        });
    // /js for portfolio lightbox
    // stats
    script(src='javascripts/jquery.waypoints.min.js')
    script(src='javascripts/jquery.countup.js')
    script.
        $('.counter').countUp();
    // //stats
    // start-smoth-scrolling
    script(type='text/javascript', src='javascripts/move-top.js')
    script(type='text/javascript', src='javascripts/easing.js')
    script(type='text/javascript').
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    // start-smoth-scrolling
    // requried-jsfiles-for owl
    script(src='javascripts/owl.carousel.js')
    script.
        $(document).ready(function () {
            $("#owl-demo2").owlCarousel({
                items: 1,
                lazyLoad: false,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true
            });
        });
    // //requried-jsfiles-for owl
    script(type='text/javascript', src='javascripts/bootstrap-3.1.1.min.js')

    block content
